body {
  background-image: url(assets/burger-friends.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  position:relative;
  font-family: 'Roboto', sans-serif;
  flex: initial;
}

header {
  background-color: #0fb9b1;
  background-size: cover;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 35px;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  font-weight: bolder;
}

#add-recipe {
  border-radius: 4px;
  border: 0px;
  padding: 15px;
  font-family: 'Roboto', sans-serif;
  position: inherit;
  float: right;
  margin-right: 50px;
  font-size: 20px;
}
.left-box {
  background-color: rgba(225, 225, 225, .9);
  flex: 1;
  width: 200px;
  height: 400px;
  text-align: left;
  padding-top: 45px;
  padding-left: 35px;
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
  margin-top: 45px;
  margin-left: 130px;
  padding-bottom: 105px;
  margin-right: 150px;
  font-weight: bolder;
}

.container-1 {
  display:flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

#lets-cook-button {
  background-color: #0fb9b1;
  border-radius: 5px;
  border: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  padding-left: 65px;
  padding-right: 65px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 25px;
}

.required {
  color: #ee5253;
  margin-top: 5px;
}

#choose-meal-form {
  color: black;
  text-align: left;
  font-size: 25px;
  padding: 20px;

}

#side-option {
  margin-top: 20px;
  margin-bottom: 20px;
}

.right-box {
  background-color: rgba(225, 225, 225, .9);
  padding-top: 125px;
  flex: 1;
  flex-basis: 2%;
  height: 400px;
  margin: 25px;
  margin-bottom: 0;
  margin-top: 45px;
  margin-right: 130px;
  margin-left: 85px;
  text-align: center;
  padding-bottom: 25px;
  background-image: url(assets/cookpot.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 175px 200px;
  display: inline-flex;
  justify-content: flex-end;
  flex-direction: column;
}

#right-box-img {
  height: 150px;
  width: 120px;
}

#clear-button {
  background-color: #95a5a6;
  color: rgba(225, 225, 225, .9);
  border: 0;
  padding: 10px;
  border-radius: 5px;
  font-family: inherit;
  align-self: flex-end;
  margin-right: 50px;
}

#choose-meal-form > label {
  padding-top: 15px;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
}

#form-question {
  margin-bottom: 45px;
  font-family: inherit;
  font-size: 40px;
  font-weight: bolder;
}

.hidden {
  display: none;
}

.italics {
  font-size: 20px;
  align-self: center;
  font-style: italic;
  font-family: inherit;
  font-weight: bold;
  flex-grow: 1;
  align-self:center;
  margin: 0;
  height: 5px;
}

.random-meal {
  font-family: inherit;
  font-weight: bolder;
  font-size: 40px;
  flex-grow: 2;
  align-self: center;
  text-align: center;
  justify-content: center;
  margin: 0;
}
